# Build klasörü
build/

# Derleme çıktıları
*.o
*.exe
*.out

# IDE ayarları
.vscode/

# CMake dosyaları
CMakeCache.txt
cmake_install.cmake
Makefile
CMakeFiles/

# Windows
*.dll
*.lib
*.pdb

# macOS
.DS_Store
